In [21]:
# import dependencies 
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
 
from bs4 import BeautifulSoup as bs
import requests as req

from sqlalchemy import create_engine

In [2]:
# Request beer consumption data from link
link_request = req.get("https://www.thrillist.com/drink/nation/beer-consumption-by-state/3973432")

# Create data soup using BeautifulSoup
data_soup = bs(link_request.text, 'html.parser')

# Scrape data using class tag as below
scrape = data_soup.find_all('p', attrs={'class':'body-text__paragraph-text font--body has-spacing'})

# Preview Data
data = scrape[1]
data

<p class="body-text__paragraph-text font--body has-spacing"><strong>Alabama: </strong>30.2 gallons<br/><strong>Alaska: </strong>28.7 gallons<br/><strong>Arizona: </strong>29.5 gallons<br/><strong>Arkansas: </strong>26.7 gallons<br/><strong>California: </strong>25.5 gallons<br/><strong>Colorado: </strong>30 gallons<br/><strong>Connecticut: </strong>22 gallons<br/><strong>Delaware: </strong>33.6 gallons<br/><strong>Florida: </strong>27.4 gallons<br/><strong>Georgia: </strong>25.7 gallons<br/><strong>Hawaii: </strong>30.4 gallons<br/><strong>Idaho: </strong>27.8 gallons<br/><strong>Illinois: </strong>29.1 gallons<br/><strong>Indiana: </strong>25.9 gallons<br/><strong>Iowa: </strong>33.6 gallons<br/><strong>Kansas: </strong>28.3 gallons<br/><strong>Kentucky: </strong>24.4 gallons<br/><strong>Louisiana: </strong>33.9 gallons<br/><strong>Maine: </strong>34 gallons<br/><strong>Maryland: </strong>23.2 gallons<br/><strong>Massachusetts: </strong>26.2 gallons<br/><strong>Michigan: </strong>26.8 gallons<br/><strong>Minnesota: </strong>28.5 gallons<br/><strong>Mississippi: </strong>33.9 gallons<br/><strong>Missouri: </strong>31 gallons<br/><strong>Montana: </strong>41 gallons<br/><strong>Nebraska: </strong>35.2 gallons<br/><strong>Nevada: </strong>35.8 gallons<br/><strong>New Hampshire: </strong>43.9 gallons<br/><strong>New Jersey: </strong>22.4 gallons<br/><strong>New Mexico: </strong>32.4 gallons<br/><strong>New York: </strong>22.4 gallons<br/><strong>North Carolina: </strong>27.1 gallons<br/><strong>North Dakota: </strong>45.8 gallons<br/><strong>Ohio: </strong>30.1 gallons<br/><strong>Oklahoma: </strong>28.3 gallons<br/><strong>Oregon: </strong>30.3 gallons<br/><strong>Pennsylvania: </strong>28.6 gallons<br/><strong>Rhode Island: </strong>26.3 gallons<br/><strong>South Carolina: </strong>32.7 gallons<br/><strong>South Dakota: </strong>38.9 gallons<br/><strong>Tennessee: </strong>26.2 gallons<br/><strong>Texas: </strong>34.4 gallons<br/><strong>Utah: </strong>20.2 gallons<br/><strong>Vermont: </strong>35.3 gallons<br/><strong>Virginia: </strong>26.7 gallons<br/><strong>Washington: </strong>24.8 gallons<br/><strong>Washington DC: </strong>28.3 gallons<br/><strong>West Virginia: </strong>30.3 gallons<br/><strong>Wisconsin: </strong>36.2 gallons<br/><strong>Wyoming: </strong>33 gallons</p>

In [3]:
# Change data into list to begin formatting data
data_list = []
for x in data: 
    data_list.append(x)
    
# Preview list 
# data_list[0], data_list[1], data_list[2], 
    
# Create 2 lists. One with states and another with gallons consumed
states = []
gallons = []
for x in data_list:
    if str("gallons") in str(x):
        gallons.append(x)
    if str("</strong>")in str(x):
        states.append(x)
    else: pass

In [4]:
# Preview state list
states[0]

# Preview gallons list
#gallons[0]

In [5]:
# Extract state string from state list
state_list = []
for x in states:
    # Multiple splits to extract the states
    state1 = str(x).split(": <")[0]
    state2 = str(state1).split(">")[1]    
    state_list.append(state2)

state_list[0]

'Alabama'

In [6]:
# Extract gallon number from gallons list
gallons_list = []
for x in gallons:
    gallon1 = str(x).split(" ")[0]
    gallons_list.append(gallon1)
    
gallons_list[0]

'30.2'

In [15]:
# Create beer consumption per state DataFrame
beer_consumption_df = pd.DataFrame({"state": state_list,
                                   "consumption_in_gallons": gallons_list})
# Preview beer consumption DataFrame
beer_consumption_df.head()

        state consumption_in_gallons
0     Alabama                   30.2
1      Alaska                   28.7
2     Arizona                   29.5
3    Arkansas                   26.7
4  California                   25.5

In [16]:
# Create state DataFrame with state's abbreviation
states_url = 'http://app02.clerk.org/menu/ccis/Help/CCIS%20Codes/state_codes.html'
tables = pd.read_html(states_url)
states_table = tables[0]
states_table_df = states_table.rename(columns={'Code': 'state_abbreviation',
                                                'Description': 'state'})

# Preview state DataFrame
states_table_df.head()

  state_abbreviation                        state
0                 AA  Armed Forces (the) Americas
1                 AB                      Alberta
2                 AE          Armed Forces Europe
3                 AK                       Alaska
4                 AL                      Alabama

In [17]:
# Merge beerconsumption and  and states df
merged_states_df = pd.merge(beer_consumption_df, states_table_df , on="state", how="inner")
merged_states_df.head()

        state consumption_in_gallons state_abbreviation
0     Alabama                   30.2                 AL
1      Alaska                   28.7                 AK
2     Arizona                   29.5                 AZ
3    Arkansas                   26.7                 AR
4  California                   25.5                 CA

In [18]:
# Reset Index
indexed_beer_consumption_df = merged_states_df.reset_index()
indexed_beer_consumption_df.head()

   index       state consumption_in_gallons state_abbreviation
0      0     Alabama                   30.2                 AL
1      1      Alaska                   28.7                 AK
2      2     Arizona                   29.5                 AZ
3      3    Arkansas                   26.7                 AR
4      4  California                   25.5                 CA

In [19]:
#save as new csv
indexed_beer_consumption_df.to_csv('beer_consumption_df.csv')

# Connect to local database

In [22]:
rds_connection_string = "postgres:postgres@localhost:5432/beers_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Create new data (parking_fines) with select columns

In [23]:
beer_consumption = indexed_beer_consumption_df[['index', 'state', 'consumption_in_gallons', 'state_abbreviation']].copy()
beer_consumption.reset_index(drop=True)

    index           state consumption_in_gallons state_abbreviation
0       0         Alabama                   30.2                 AL
1       1          Alaska                   28.7                 AK
2       2         Arizona                   29.5                 AZ
3       3        Arkansas                   26.7                 AR
4       4      California                   25.5                 CA
5       5        Colorado                     30                 CO
6       6     Connecticut                     22                 CT
7       7        Delaware                   33.6                 DE
8       8         Florida                   27.4                 FL
9       9         Georgia                   25.7                 GA
10     10          Hawaii                   30.4                 HI
11     11           Idaho                   27.8                 ID
12     12        Illinois                   29.1                 IL
13     13         Indiana                   25.9                 IN
14     14            Iowa                   33.6                 IA
15     15          Kansas                   28.3                 KS
16     16        Kentucky                   24.4                 KY
17     17       Louisiana                   33.9                 LA
18     18           Maine                     34                 ME
19     19        Maryland                   23.2                 MD
20     20   Massachusetts                   26.2                 MA
21     21        Michigan                   26.8                 MI
22     22       Minnesota                   28.5                 MN
23     23     Mississippi                   33.9                 MS
24     24        Missouri                     31                 MO
25     25         Montana                     41                 MT
26     26        Nebraska                   35.2                 NE
27     27          Nevada                   35.8                 NV
28     28   New Hampshire                   43.9                 NH
29     29      New Jersey                   22.4                 NJ
30     30      New Mexico                   32.4                 NM
31     31        New York                   22.4                 NY
32     32  North Carolina                   27.1                 NC
33     33    North Dakota                   45.8                 ND
34     34            Ohio                   30.1                 OH
35     35        Oklahoma                   28.3                 OK
36     36          Oregon                   30.3                 OR
37     37    Pennsylvania                   28.6                 PA
38     38    Rhode Island                   26.3                 RI
39     39  South Carolina                   32.7                 SC
40     40    South Dakota                   38.9                 SD
41     41       Tennessee                   26.2                 TN
42     42           Texas                   34.4                 TX
43     43            Utah                   20.2                 UT
44     44         Vermont                   35.3                 VT
45     45        Virginia                   26.7                 VA
46     46      Washington                   24.8                 WA
47     47   West Virginia                   30.3                 WV
48     48       Wisconsin                   36.2                 WI
49     49         Wyoming                     33                 WY

Make sure the above three tables are created in postgres as well before you start the next steps

### Check for tables

In [24]:
engine.table_names()

['final_beer', 'beer_consumption']

### Use pandas to load csv converted DataFrame into database

In [25]:
beer_consumption.to_sql(name='beer_consumption', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [26]:
pd.read_sql_query('select * from beer_consumption', con=engine).head()

   index       state  consumption_in_gallons state_abbreviation
0      0     Alabama                    30.2                 AL
1      1      Alaska                    28.7                 AK
2      2     Arizona                    29.5                 AZ
3      3    Arkansas                    26.7                 AR
4      4  California                    25.5                 CA